---
import Code from "../Code/index.astro"
import dedent from "dedent"

const customstyl = '`<style id="customstyl">${customstyl}</style>`'
---

<h3 class="na-title">套件獲取</h3>

<p class="na-paragraph">
    暫時未計劃發佈到
    <a class="na-code na-link" href="https://www.npmjs.com/" target="_blank">
        npm
    </a> ，可以從源程式碼自订構建出
    <code class="na-code na-code-no-bg">na-lit</code>
    ( <code class="na-code">na-lit/dist/all.js</code>或按需 ) 放置在自己專案的 <code
        class="na-code na-code-no-bg">assets</code
    > 或 <code class="na-code na-code-no-bg">public</code> 目錄中， 並且在
    <code class="na-code na-code-no-bg">html</code> 引入
</p>

<Code
    code={dedent`
        ---
        import nanarinostyl from "nanarinostyl?url"
        import customstyl from "@/styles/custom.styl?inline"
        ---
        <html lang="zh-TW">
            <head>
                <!-- 記住它是第幾個 第一個  -->
                <link rel="stylesheet" href={nanarinostyl} />
                <!-- 或者使用 ?inline 引入自訂後的 nanarinostyl, 同樣作為第一個 或指定ID -->
                <Fragment set:html={${customstyl}} />
                <script src="@/scripts/client/init"></script>
            </head>
            <body>
                <slot />
            </body>
        </html>
    `}
/>

<h4 class="na-title">注冊元件 并注入樣式</h4>

<p class="na-paragraph">為了減小包體積，樣式是額外注入的</p>

<Code
    code={dedent`
        // @/scripts/client/init

        import { NanarinoLitComponent } from "na-lit/dist/all.js"
        // import 立即註冊元件 作為副作用
        // 或按需: import { NanarinoLitComponent } from "na-lit/dist/base.js"

        // 影子DOM内部樣式復用外部的全局樣式 需要保證是[0], 或透過ID獲取
        const nanarinostyl = document.styleSheets[0]
        for (const css of Array.from(nanarinostyl?.cssRules ?? []).reverse()) {
            // 點解要用try 見 https://github.com/nanarino/na-lit/issues/1
            try {
                NanarinoLitComponent.injectedCSS.insertRule(css.cssText)
            } catch (error) {
                console.warn(error)
            }
        }
    `}
    lang="typescript"
/>

<p class="na-paragraph">頁面中使用，如</p>

<Code
    code={dedent`
        <section>
            <na-pagination total="36"></na-pagination>
        </section>
    `}
/>

<p class="na-paragraph">
    按需須要單獨引入，如(<code class="na-code"
        >import "na-lit/dist/Pagination/index.js"</code
    >)
</p>

<h4 class="na-title">
    避免
    <a
        class="na-link"
        href="https://en.wikipedia.org/wiki/Flash_of_unstyled_content"
        target="_blank"
    >
        FOUC
    </a>
</h4>

<p class="na-paragraph">不只本套件，這對於所有元件適用</p>

<Code
    code={dedent`
        na-svg-icon:not(:defined) {
            opacity: 0;
        }
    `}
    lang="css"
/>

<style>
    .na-code-no-bg {
        --background-color-code: 0 0 0 / 0;
    }
</style>
