---
import Code from "../Code/index.astro"
import dedent from "dedent"
// 就一個 readme 不想引入 mdx
---

<h3 class="na-title">先決條件</h3>

<Code
    code={dedent`
        pnpm i nanarinostyl
    `}
    lang="shell"
/>

<Code
    code={dedent`
        ---
        import nanarinostyl from "nanarinostyl?url"
        ---
        <html lang="zh-TW">
            <head>
                <!-- 先引入樣式套件 記住它是第幾個 第一個 或指定ID -->
                <link rel="stylesheet" href={nanarinostyl} />
                <!-- 或者使用 引入自訂後的 nanarinostyl, 同樣作為第一個 或指定ID -->
                <!-- 見 https://github.com/nanarino/na-lit/blob/main/src/styles/custom.styl -->

                <!-- 初始化客戶端 -->
                <script src="@/scripts/client/init"></script>
            </head>
            <body>
                <slot />
            </body>
        </html>
    `}
/>

<h4 class="na-title">套用元件</h4>

<p class="na-paragraph">
    元件暫時未計劃發佈到
    <a class="na-code na-link" href="https://www.npmjs.com/" target="_blank">
        npm
    </a> ，可以從源程式碼自订構建出
    <code class="na-code na-code-no-bg">na-lit</code>
    ( <code class="na-code">na-lit/dist/all.js</code>或按需 ) 放置在自己專案的 <code
        class="na-code na-code-no-bg">assets</code
    > 或 <code class="na-code na-code-no-bg">public</code> 目錄中， 或者直接拷貝到自己的專案
</p>

<Code
    code={dedent`
        // package.json

        {
            "dependencies": {
                "@nanarinostyl/lit": "github:nanarino/na-lit#prepare",
            }
        }

        // #prepare 可選 安裝時自動build 適用於無法解析資源的情況
    `}
    lang="jsonc"
/>

<Code
    code={dedent`
        pnpm update @nanarinostyl/lit
    `}
    lang="shell"
/>

<p class="na-paragraph">為了減小包體積，樣式是額外注入的</p>

<Code
    code={dedent`
        // @/scripts/client/init

        import { NanarinoLitComponent } from "na-lit/dist/all.js"
        // import 立即註冊元件 作為副作用
        // 或按需: import { NanarinoLitComponent } from "na-lit/dist/base.js"

        // 影子DOM内部樣式復用外部的全局樣式 需要保證是[0], 或透過ID獲取
        const nanarinostyl = document.styleSheets[0]
        for (const css of Array.from(nanarinostyl?.cssRules ?? []).reverse()) {
            // 點解要用try 見 https://github.com/nanarino/na-lit/issues/1
            try {
                NanarinoLitComponent.injectedCSS.insertRule(css.cssText)
            } catch (error) {
                console.warn(error)
            }
        }
    `}
    lang="typescript"
/>

<p class="na-paragraph">頁面中使用，如</p>

<Code
    code={dedent`
        <section>
            <na-pagination total="36"></na-pagination>
        </section>
    `}
/>

<p class="na-paragraph">
    按需須要單獨註冊，如 (
    <code class="na-code">import "na-lit/dist/Pagination/index.js"</code>
    以使用 <code class="na-code na-code-no-bg">{`<na-pagination />`}</code>)
</p>

<h4 class="na-title">
    避免
    <a
        class="na-link"
        href="https://en.wikipedia.org/wiki/Flash_of_unstyled_content"
        target="_blank"
    >
        FOUC
    </a>
</h4>

<p class="na-paragraph">不只本套件，這對於所有元件適用</p>

<Code
    code={dedent`
        na-svg-icon:not(:defined) {
            opacity: 0;
        }
    `}
    lang="css"
/>

<style>
    .na-code-no-bg {
        --background-color-code: 0 0 0 / 0;
    }
</style>
