@grid: 1 / 100vw 100vh / transparent;
@content: @svg(
    viewBox: -300 -300 600 600;
    circle * 1800 {
        fill: @pick(
            rgb(var(--green-3)),
            rgb(var(--green-4)),
            rgb(var(--green-5)),
            rgb(var(--green-6)),
            rgb(var(--green-7)),
            rgb(var(--green-8)),
            rgb(var(--green-9)),
        );
        r: @sqrt(@n / 60);
        cx: $(@n * .6180339887498949 ^4 * cos(2π * @n *.6180339887498949));
        cy: $(@n * .6180339887498949 ^4 * sin(2π * @n *.6180339887498949));
    }
);
& svg {
    transform: scale(.1) rotate(0);
    animation: exp 12s forwards;
}
@keyframes exp {
    to {
        transform: scale(3) rotate(720deg);
    }
}